/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --logo-color: #db00ff;
  --title-color: #000028;
  --text-color: #f1b2ce;
  --rec-opacity: 1;
  --article-title-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-image: url("../images/cover-image-dark.png");
    --accent-color: #ff0070;
    --logo-color: #db00ff;
    --title-color: #000028;
    --text-color: #f1b2ce;
    --rec-opacity: 1;
    --article-title-color: #ff0070;
  }
}
